:host {
  display: flex;
  flex-direction: column;

  mat-card {
    flex: 1;
    margin: 20px;

    mat-card-content form {
      display: flex;
      flex-direction: column;

      app-tags-chip-list,
      mat-form-field {
        flex: 1;
      }
    }

    mat-card-actions {
      display: flex;
      justify-content: flex-end;
    }
  }

  ckeditor {
    color: #000;
  }

  mat-toolbar-row .actions a {
    margin: auto 5px;
  }

  .topbar {
    display: flex;
    justify-content: space-between;

    .author {
      display: flex;
      align-items: center;

      h3 {
        margin-left: 20px;
      }
    }

  }

  .actions {
    display: flex;
    justify-content: space-between;

    .left {
      &>* {
        margin: auto 5px;
      }
    }

    .right {
      &>* {
        margin: auto 5px;
      }
    }
  }
}

:host ::ng-deep .ck-editor__editable {
  min-height: 350px;
}
