:host {
  mat-radio-group {
    display: flex;
    flex-direction: row;

    mat-radio-button {
      margin: 5px;
      width: 30px;
      height: 40px;
      border: 1px solid #FD6666;
      display: flex;

      ::ng-deep .mat-radio-container {
        display: none;
      }

      ::ng-deep .mat-radio-label-content {
        margin: auto;
        font-weight: bold;
        color: #FD6666;
      }

      &.mat-radio-checked {
        background: #FD6666;

        ::ng-deep .mat-radio-label-content {
          margin: auto;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}
