:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .title {
    text-align: center;
    font-size: 70px;
    margin: 30px;
    font-family: 'timeburnerbold';
  }

  .cards {
    display: flex;
    flex-direction: row;

    mat-card {
      flex: 1;
      margin: 20px;

      mat-card-content form {
        display: flex;
        flex-direction: column;

        app-tags-chip-list,
        mat-form-field {
          flex: 1;
        }
      }

      mat-card-actions {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

}
